extends ../layout

block content
  .page-header
    h3 All Existing Unsolved Bounties
    
    table.table.table-hover
      thead
        tr 
          th User
          th Issue 
          th Bounty Issue
          th Solved?
          th Bounty Address
      tbody
      each bounty in bounties
          tr 
            td= bounty._owner.email
            td
              a(href="#{bounty.issueUrl}", target="_blank")= bounty.issueUrl
            td
              | m
              i.fa.fa-btc
              span= bounty.total
            td(class=bounty.solved?'success':'danger')= bounty.solved
            td
              a#addressqr(href="#" data-container="body" data-toggle="popover" data-placement="right",
              data-content="<img src='https://blockchain.info/qr?data=#{bounty.wallet.address}&size=150'>") #{bounty.wallet.address}
